{
  "presets": [
    "env",
    [
      "minify",
      {
        "keepFnName": true
      }
    ]
  ],
  "plugins": [
    "transform-strict-mode",
    [
      "transform-es2015-modules-umd",
      {
        "globals": {
          "jquery": "$"
        }
      }
    ]
  ]
}